@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    overflow: hidden;
}

[data-selected] {
    background-color: #e0dfff;
}

.tool {
    @apply w-9 h-9 cursor-pointer rounded-lg flex justify-center items-center p-1
}